.page-wrapper {
    &--cashier {
        padding: 16px 0 60px;

        .center {
            max-width: 394px;
        }

        .deposit-form,
        .withdrawal-form {
            .btn {
                width: 160px;
                height: 44px;

                &--grey {
                    padding: 0;
                    width: 100%;
                    height: 100%;
                }

                &__wrap {
                    margin-top: 40px;
                    justify-content: center;
                }
            }
        }

        .withdrawal-form {
            .form-fields__line--double {
                justify-content: space-between;

                .input-box {
                    width: calc(50% - 8px);
                }
            }

            .checkbox__label {
                line-height: 18px;
            }
        }

        .tabs {
            &__content-item {
                padding-top: 32px;
            }

            .content-title {
                margin-bottom: 30px;
                line-height: 28px;
                font-size: 22px;
                color: $orange-light;
                letter-spacing: 0.35px;
            }
        }

        .tab-2 {
            .tabs {
                &__header {
                    &:before {
                        transform: translateX(calc(100% - 1px))
                    }
                }

                &__content {
                    &-viewport {
                        transform: translateX(calc(-100% / 3))
                    }
                }
            }
        }

        .tab-3 {
            .tabs {
                &__header {
                    &:before {
                        transform: translateX(calc(200% - 1px))
                    }
                }

                &__content {
                    &-viewport {
                        transform: translateX(calc((-100% / 3) * 2))
                    }
                }
            }
        }
    }
}