.fixed-payment {
    margin: 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__item {
        width: 104px;
        height: 48px;
        cursor: pointer;

        .btn--grey {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $green-lighter-base;
            letter-spacing: -0.41px;
            background-color: $green-lighter;
            border-radius: 12px;
            box-shadow: 0 4px 16px 0 rgba($dark, 0.5);
            cursor: pointer;
            transition: box-shadow 250ms;

            &:before {
                line-height: 22px;
                font-size: 20px;
                color: $green-lighter-base;
            }

            &:hover {
                box-shadow: none;
            }

            span {
                display: block;
                font-family: 'Roboto', sans-serif;
                line-height: 22px;
                font-size: 17px;
            }
        }
    }
}
