.historylist {
    width: 100%;

    &__item {
        margin-top: 4px;
        width: 100%;
        position: relative;
        box-sizing: border-box;
        cursor: pointer;

        &:first-child {
            margin-top: 0;
        }

        &.show {
            .historylist__detalis {
                height: 362px;
                opacity: 1;
            }
        }

        &-header {
            padding: 20px 16px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            z-index: 1;
            background-color: $gray;
            border-radius: 16px;
            box-sizing: border-box;
        }

        &-paylogo {
            margin-right: 16px;
            width: 75px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $gray-superlight;
            border-radius: 8px;
        }

        &-status {
            margin-left: 16px;
            width: 84px;
            flex-shrink: 0;
            text-align: right;
        }

        &-state {
            color: $yellow;
            letter-spacing: -0.41px;
            white-space: nowrap;

            &.green {
                color: $green;
            }

            &.red {
                color: $red;
            }
        }

        &-statedata,
        &-data {
            margin-top: 2px;
            line-height: 16px;
            font-size: 12px;
            color: $gray-light;
        }

        &-payment {
            width: calc(100% - 191px);
        }

        &-price {
            color: $white;
            letter-spacing: -0.41px;
        }
    }

    &__detalis {
        margin-top: -20px;
        padding-top: 20px;
        width: 100%;
        height: 0;
        opacity: 0;
        position: relative;
        overflow: hidden;
        background-color: $gray-superlight;
        border-radius: 0 0 16px 16px;
        transition: height 250ms, opacity 250ms;

        &-wrap {
            margin-top: 4px;
            padding: 18px 25px;
            border-radius: 0;
            box-sizing: border-box;
        }

        &-close {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 29px;
            right: 16px;
            cursor: pointer;
            background: url("../img/svg/btn-close.svg") no-repeat center;
            background-size: cover;
            transition: opacity 250ms;

            &:hover {
                opacity: 0.5;
            }
        }

        &-title {
            line-height: 28px;
            font-size: 22px;
            color: $black;
            text-align: center;
            letter-spacing: 0.35px;
        }

        &-logo {
            margin: 27px auto;
            width: 95px;

            img {
                width: 100%;
            }
        }

        &-info {
            width: 100%;
        }

        &-item {
            margin-bottom: 12px;
            width: 100%;
            display: flex;
            color: $gray;
            letter-spacing: -0.41px;
        }

        &-subtitle {
            margin-right: 4px;
            font-weight: 700;
        }
    }

}