.paycard-list {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;

    &__item {
        margin-bottom: 22px;
        width: 160px;
        height: 85px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $gray-superlight;
        border-radius: 8px;
        cursor: pointer;
    }
}
