.submenu-list {
    display: inline-flex;
    align-items: center;

    @media(max-width: 1024px) {
        padding: 2px 0 35px;
        width: 100%;
        height: 83px;
        align-items: flex-end;
        justify-content: center;
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: $black;
        box-sizing: border-box;
    }

    .btn-deposite {
        @media(min-width: 1025px) {
            display: none;
        }

    }

    &__item {
        margin-left: 24px;

        &:first-child {
            margin-left: 0;
        }


        @media(max-width: 1200px) {
            margin-left: 14px;
        }


        @media(max-width: 1024px) {
            margin: 0;
        }


        &:hover {
            .submenu-list__link:before,
            .submenu-list__title {
                color: $white;
            }
        }

        &--deposite {
            @media(min-width: 1025px) {
                display: none;
            }
            .btn-deposite {
                margin-bottom: 4px;
                box-shadow: 0 0 0 4px $black;
            }

            .submenu-list__icn {
                margin-bottom: 4px;
                width: 48px;
                height: 48px;
                display: block;
                flex-shrink: 0;
                position: relative;
                background-color: $red;
                border-radius: 50%;
                box-shadow: 0 0 0 4px $black;
                transition: opacity 250ms;
                cursor: pointer;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $white;
                    border-radius: 2px;
                }


                &:before {
                    width: 22px;
                    height: 4px;
                }


                &:after {
                    width: 4px;
                    height: 22px;
                }

            }

        }

    }

    &__link {
        display: flex;
        align-items: center;
        font-size: 24px;

        @media(max-width: 1200px) {
            font-size: 20px;
        }

        @media(max-width: 1024px) {
            width: 70px;
            flex-direction: column;
            font-size: 24px;
        }

        &:before {
            transition: all 300ms;
        }
    }

    &__title {
        margin-left: 4px;
        font-family: 'Roboto', sans-serif;
        line-height: 16px;
        font-size: 14px;
        color: $green-lighter-base;
        transition: color 250ms;

        @media(max-width: 1024px) {
            margin-left: 0;
            text-align: center;
            line-height: 13px;
            font-size: 11px;
        }


    }
}


.router-link-active {
    &:before,
    .submenu-list__title {
        color: $white;
    }
}