.btn {
    padding: 0 16px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    line-height: 16px;;
    font-size: 14px;
    text-align: center;
    color: $white;
    font-weight: 400;
    text-decoration: none;
    border-radius: 8px;
    border: 0;
    background-color: $red;
    transition: all 300ms ease;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $red-lighter;
    }

    &:disabled {
        background-color: $red-superlight;
        pointer-events: none;
    }

    &--orange {
        background-color: $orange;

        &:hover,
        &:focus {
            background-color: $orange-lighter;
        }

        &:disabled {
            background-color: $orange-superlight;
        }
    }

    &--grey {
        background-color: $gray;

        &:hover,
        &:focus {
            background-color: $gray-lighter;
        }
    }

    &__wrap {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
    }
}
