$dark: #000;

$black: #1B212C;
$black-base: #021C1C;

$white: #fff;

$yellow: #FFE500;
$yellow-light: #FFB800;

$brown: #D07214;

$green: #33FF99;
$green-base: #00CC99;
$green-darker: #27AE60;
$green-darker-base: #003333;
$green-dark: #039D50;
$green-dark-base: #02483B;
$green-lighter: #01745A;
$green-lighter2: #01A07A;
$green-lighter-base: #40D9B3;
$green-superlight: #80E6CC;
$green-superlight2: #BFF2E6;

$gray: #3D4656;
$gray-lighter: #6E7480;
$gray-light: #9EA3AB;
$gray-superlight: #CFD1D5;

$orange: #FF9933;
$orange-lighter: #FFB366;
$orange-light: #FFCC99;
$orange-superlight: #FFE6CC;

$red: #FF3366;
$red-lighter: #FF6666;
$red-lighter-base: #FF668C;
$red-light: #FF9999;
$red-superlight: #FFCCD9;

$blue: #00CCFF;
$blue-lighter: #40D9FF;
$blue-light: #80E6FF;
$blue-superlight: #BFF2FF;
$blue-darker: #00A7D1;



$grad-green-first: #008066;
$grad-green-last: #87DECD;

$grad-yellow-first: #FFCC00;
$grad-yellow-last: #CB6201;

$grad-orange-first: #FF0000;
$grad-orange-last: $grad-yellow-first;

$grad-grey-first: #A4A4A4;
$grad-grey-last: #5B5A58;

$grad-purpure-first: #8100E6;
$grad-purpure-last: #CF66F4;

$grad-brown-first: #DC8825;
$grad-brown-last: #924600;

$grad-brown-first: #004577;
$grad-brown-last: #87BEFF;