html {
    font-size: 62.5%;
}


html,
body {
    height: 100%;
}


body {
    min-width: 375px;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    font-size: 17px;
    font-weight: 400;
    color: $gray-superlight;
    background: $green-darker-base;
}


header,
aside,
section,
footer {
    display: block;
}


/*placeholder styles*/
::-webkit-input-placeholder{
    color: $green-lighter;
}


::-moz-placeholder {
    color: $green-lighter;
}


:-moz-placeholder {
    color: $green-lighter;
}


:-ms-input-placeholder{
    color: $green-lighter;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}


:focus::-moz-placeholder {
    color: transparent;
}


:focus:-moz-placeholder {
    color: transparent;
}


:focus:-ms-input-placeholder {
    color: transparent;
}


a {
    text-decoration: none;
}


img {
    max-width: 100%;
    display: block;
}


input {
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    font-size: 17px;
    box-sizing: border-box;
    outline: none;
}


button {
    width: 100%;
    display: block;
    padding: 0;
    border: 0;
    background: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px $dark !important;
    -webkit-text-fill-color: $gray-lighter !important;
    color: $gray-lighter !important;
}



.wrapper {
    padding-top: 56px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;

    &--reg {
        .header {
            padding: 14px 0 15px;
        }

        .slider-mod {
            // &--epics,
            // &--tournaments {
            //     display: block;
            // }

            &__wrap {
                margin-bottom: 5px;
            }

            &__title {
                h2 {
                    margin-left: 4px;
                    line-height: 24px;
                    font-size: 20px;
                    font-weight: 400;
                    color: $orange-light;
                }
            }

        }

        .cat-slider {
            margin-top: 0;
        }

        .slide-cart__list {
            margin-top: -32px;
        }

        .page-wrapper {
            &--bonuses {
                .slider-mod {
                    margin-bottom: 55px;

                    &__title {
                        margin-bottom: 0;

                        h2 {
                            line-height: 41px;
                            font-size: 34px;
                            font-weight: 700;
                            color: $green-dark;
                        }
                    }
                }

                .slide-cart__list {
                    margin-top: 0;
                }
            }
        }
    }
}

.page-wrapper {
    &--bonuses {
        padding-top: 16px;

        .slider-mod {
            margin-bottom: 55px;

            &__title {
                margin-bottom: 0;

                h2 {
                    line-height: 41px;
                    font-size: 34px;
                    font-weight: 700;
                    color: $green-dark;
                }
            }
        }

        .slide-cart__list {
            margin-top: 0;
        }
    }
}


.center {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1160px;
    width: 100%;
    position: relative;
    box-sizing: border-box;

    @media(max-width: 767px) {
        padding: 0 14px;
    }
}

.hidden {
  display: none;
}