.filer-products {
    margin: 4px 0 24px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 16px;
    font-size: 14px;
    color: $green-lighter2;

    &__item {
        padding: 13px 8px;
        position: relative;
        cursor: pointer;
        transition: all 250ms;

        &.active {
            color: $white;

            &:before {
                content: '';
                width: 4px;
                height: 4px;
                position: absolute;
                left: 50%;
                bottom: 4px;
                background-color: $white;
                border-radius: 50%;
                box-shadow: 0 0 6px 0 rgba($white, 0.75);
                transform: translateX(-50%)
            }
        }

        &:hover {
            color: $white;
        }
    }
}