.filer-products {
    &__wrap {
        margin: 4px 0 24px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        visibility: hidden;

        &.isShow {
            opacity: 1;
            visibility: visible;
        }

        .btn__search {
            margin: 0;
            width: 42px;
            height: 42px;
            position: static;
            transform: translateY(0);

            &:before {
                transition: opacity 300ms;
            }

            &:hover {
                &:before {
                    opacity: 0.7
                }
            }
        }
    }

    &__slide {
        margin: 0 20px 0 0;

        &-item {
            width: auto;
            line-height: 16px;
            font-size: 14px;
            color: $green-lighter2;
        }
    }

    &__item {
        padding: 13px 8px;
        position: relative;
        cursor: pointer;
        transition: all 250ms;

        &.active {
            color: $white;

            &:before {
                content: '';
                width: 4px;
                height: 4px;
                position: absolute;
                left: 50%;
                bottom: 4px;
                background-color: $white;
                border-radius: 50%;
                box-shadow: 0 0 6px 0 rgba($white, 0.75);
                transform: translateX(-50%)
            }
        }

        &:hover {
            color: $white;
        }
    }
}