$icomoon-font-family: "9winz_icons" !default;
$icomoon-font-path: "./../fonts" !default;

$icon-Cashier: "\e900";
$icon-checkbox_checked-path1: "\e901";
$icon-checkbox_checked-path2: "\e902";
$icon-checkbox_empty: "\e903";
$icon-city: "\e904";
$icon-clear: "\e905";
$icon-close-path1: "\e906";
$icon-close-path2: "\e907";
$icon-code: "\e908";
$icon-documents: "\e909";
$icon-done: "\e90a";
$icon-down-path1: "\e90b";
$icon-down-path2: "\e90c";
$icon-Earth: "\e90d";
$icon-edit-path1: "\e90e";
$icon-edit-path2: "\e90f";
$icon-email: "\e910";
$icon-eye: "\e911";
$icon-favorite: "\e912";
$icon-filter: "\e913";
$icon-gender: "\e914";
$icon-home: "\e915";
$icon-info: "\e916";
$icon-live: "\e917";
$icon-live_casino: "\e918";
$icon-menu: "\e919";
$icon-new: "\e91a";
$icon-number: "\e91b";
$icon-persona: "\e91c";
$icon-personal-info: "\e91d";
$icon-phone: "\e91e";
$icon-popular: "\e91f";
$icon-popular_no: "\e920";
$icon-popular_yes: "\e921";
$icon-profile: "\e922";
$icon-search: "\e923";
$icon-settings: "\e924";
$icon-slots: "\e925";
$icon-slots_filled: "\e926";
$icon-sports_filled: "\e927";
$icon-support: "\e928";
$icon-support_filled-path1: "\e929";
$icon-support_filled-path2: "\e92a";
$icon-support_filled-path3: "\e92b";
$icon-support_filled-path4: "\e92c";
$icon-support_thin: "\e92d";
$icon-table: "\e92e";
$icon-tournaments: "\e92f";
$icon-trash: "\e930";
$icon-up: "\e931";
$icon-virtual_games: "\e932";
$icon-virtual_games_filled: "\e933";
$icon-uniE934: "\e934";
$icon-all: "\e935";
$icon-arrow_bottom: "\e936";
$icon-arrow_top: "\e937";
$icon-back: "\e938";
$icon-bonus: "\e939";
$icon-bonuses: "\e93a";
$icon-bonuses2: "\e93b";
$icon-calendar: "\e93c";
$icon-cancel-path1: "\e93d";
$icon-cancel-path2: "\e93e";

