.main-menu {
    max-width: 375px;
    padding: 56px 16px 152px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: $black;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform 250ms;

    &__close {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 9px;
        right: 16px;
        border: 0;
        // background: url("../img/svg/btn-close.svg") no-repeat center;
        background-size: cover;
        cursor: pointer;
        transition: opacity 250ms;

        &:before,
        &:after {
            content: '';
            margin-top: -1px;
            width: 100%;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 0;
            background-color: $white;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }

        &:hover {
            opacity: 0.5;
        }
    }

    &__list {
        width: 50%;
        flex-shrink: 0;

        &-item {
            margin-bottom: 12px;
            width: 100%;
            cursor: pointer;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                .main-menu__list-link {
                    &:before {
                        color: $white;
                    }
                }
            }
        }

        &-link {
            padding: 13px 0;
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 24px;

            &:before {
                margin-right: 8px;
                transition: color 250ms;
            }

            span {
                font-family: 'Roboto', sans-serif;
                line-height: 24px;
                font-size: 17px;
                color: $white;
                letter-spacing: -0.41px;
            }
        }
    }

    .tabs {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        &__header {
            width: calc(100% - 32px);
            height: 44px;
            display: flex;
            position: absolute;
            left: 16px;
            bottom: 22px;
            // opacity: 0;
            // visibility: hidden;
            background-color: $dark;
            border-radius: 22px;
        }

        &__content {
            &-viewport{
                width: 200%;
            }
        }
    }

    .tabs__header-item,
    .tabs__header:before {
        width: calc(100% / 2 - 1px);
    }
}