.slider-mod {
    margin-bottom: 32px;
    width: 100%;

    &--epics {
        // display: none;

        .cat-slider {
            margin-top: 0;
        }
    }

    &--tournaments {
        // display: none;

        .charitem {
            &__detalis {
                padding-top: 65px;
                height: 290px;
                overflow: hidden;

                &:before {
                    width: 108%;
                    top: 24px;
                    left: -10px;
                    transform: rotate(-6deg);
                }
            }
        }

        .stiker {
            top:32px;
        }
    }

    .center {
        @media(max-width: 1160px) {
            padding-right: 0;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        @media(max-width: 1024px) {
            margin-bottom: 5px;
        }
    }

    &__title {
        display: inline-flex;
        align-items: center;
        font-size: 24px;

        &:hover {
            
            &:before {
                transition: color 300ms ease;
                color: $white;
            }
            
        }           

        &:before {
            width: 24px;
         

            @media(min-width: 1025px) {
                display: none; 

            }
        }

        h2 {
            display: inline-flex;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            line-height: 138px;
            font-size: 118px;
            font-weight: 900;
            color: $green-base;
            text-shadow: -1px -1px 0  $dark; 

            @media(max-width: 1024px) {
                margin-left: 4px;
                line-height: 24px;
                font-size: 20px;
                font-weight: 400;
                color: $yellow; 
                
            }
        }
    }

    &__link {
        display: block;
        line-height: 18px;
        font-size: 15px;
        color: $blue;
        text-shadow: -1px -1px 0  $dark; 
        transition: color 250ms;

        &:hover {
            color: $blue-light;
        }

        @media(max-width: 1160px) {
            margin-right: 20px;
        }
    }
}

.cat-slider {
    @media (min-width: 1025px) {
        margin-top: -40px;
    }

    &__item {
        width: 160px;
    }
}