
.banner-slider {
    margin: 0 auto 20px;
    width: 100%;
    max-width: 1120px;

    @media(max-width: 650px) {
        height: 260px;
    }

    img {
        position: relative;

        @media(max-width: 650px) {
            max-width: inherit;
            width: auto;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .swiper-pagination {
        display: flex;
        align-items: center;
        justify-content: center;

        &-bullet {
            width: 8px;
            height: 8px;
            opacity: 0.5;
            background-color: $gray-lighter;

            &-active {
                opacity: 1;
                background-color: $blue;
            }
        }
    }
}