
.social-box {
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    position: relative;
    // border-top: 1px solid $gray-lighter;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        height: 1px;
        width: 100%;
        max-width: 74px;
        background-color: $green-lighter;
    }

    &:before {
        left: 40px;
    }
    &:after {
        right: 40px;
    }

    &__label {
        margin-top: -12px;
        padding: 0 13px;
        display: inline-block;
        vertical-align: top;
        line-height: 20px;
        font-size: 15px;
        color: $green-lighter2;
        white-space: nowrap;
        background-color: $green-darker-base;
    }

    &__list {
        margin-top: 4px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a {
            display: block;
            transition: opacity 250ms;
            &:before {
            display: none;
            }
            &:hover {
            opacity: 0.5;
            }
        }
    }
}