.slider-mod {
    margin-bottom: 32px;
    width: 100%;

    .center {
        @media(max-width: 1160px) {
            padding-right: 0;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 1024px) {
            margin-bottom: 5px;
        }
    }

    &__title {
        display: inline-flex;
        align-items: center;
        font-size: 24px;

        &:before {
            width: 24px;

            @media(min-width: 1025px) {
                display: none;
            }
        }

        h2 {
            display: inline-flex;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            line-height: 138px;
            font-size: 118px;
            font-weight: 900;
            color: $green-dark;

            @media(max-width: 1024px) {
                margin-left: 4px;
                line-height: 24px;
                font-size: 20px;
                font-weight: 400;
                color: $orange-light;
            }
        }
    }

    &__link {
        display: block;
        line-height: 18px;
        font-size: 15px;
        color: $blue;
        transition: color 250ms;

        &:hover {
            color: $blue-light;
        }

        @media(max-width: 1160px) {
            margin-right: 20px;
        }
    }
}