.footer {
    &__list {
        columns: 160px 6;

        @media(max-width: 1084px) {
            columns: 150px 4;
        }
            
        &-link {
            line-height: 32px;
            font-size: 16px;
            color: $white;
        }

    }   
}
