
.banner-slider {
    margin: 0 auto 20px;
    width: 100%;
    max-width: 1120px;
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        opacity: 0.5;
        background-color: #6e7480;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background-color: #0cf;
    }     
    img {
    position: relative;
    }
  } 